body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1, h2, h3, p{
  margin: 0;
  padding: 0;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
.section-width{
  width: 80%;
  margin: 0 auto;
}
.content-area{
  width: 40%;
}
.display-felx{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.font-color{
  color: #575757;
}
.button{
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(45deg, #13b7fc, #048af7);
  padding: 15px 35px;
  border-radius: 50px;
  font-size: 700;
}
section, footer{
  margin-top: 100px;
}
#banner-area{
  align-items: center;
}
.banner-text-highlight{
  color: #0da7fa;
}
.banner-content p{
  color: #828282;
}
.banner-image img{
  width: 100%;
}
#about-area{
  background-image: url(images/Frame\ 57.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
.about-image-area{
  text-align: center;
  padding-top: 50px;
}
.about-image-area img{
  width: auto;
  height: 380px;
}
.recipies-content{
  text-align: center;
}
.recipies-content p{
  width: 60%;
  margin: auto;
}
.recipies-card{
  width: 21%;
  min-height: 350px;
  padding: 1%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 25px;
}
.recipies-card-image{
  width: 100%;
  height: 180px;
  border-radius: 25px;
}
.recipies-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.couter-main-area{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 50px 0;
}
#social-counter-area .couter-main-area div{
  width: 33.30%;
  text-align: center;
}
#footer-area{
  text-align: center;
  background-color: #0b0d17;
  padding: 25px 0 75px 0;
}
.footer-logo-color{
  background: linear-gradient(45deg, #13b7fc, #048af7);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#footer-area p{
  color: #fff;
}







