body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
.display-felx{
  display: flex;
}
.font-color{
  color: #575757;
}
.button{
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(45deg, #13b7fc, #048af7);
  padding: 15px 35px;
  border-radius: 50px;
  font-size: 700;
}
.image-size{
  width: 100%;
  object-fit: cover;
}
#banner-area{
  align-items: center;
}
.content-area{
  width: 40%;
  margin-left: 5%;
  padding-left: 2%;
}
.banner-text-highlight{
  color: #0da7fa;
}
.banner-content p{
  color: #828282;
}
#about-area{
  background-image: url(images/Frame\ 57.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
.about-image-area{
  text-align: center;
  padding-top: 50px;
}
.about-image-area img{
  width: auto;
  height: 380px;
}












