body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 40px;
}
.section-width {
  width: 80%;
  margin: 0 auto;
}
.content-area {
  width: 40%;
}
.display-felx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.font-color {
  color: #575757;
}
.button {
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(#13b7fc, #048af7);
  padding: 15px 35px;
  border-radius: 50px;
  font-size: 700;
}
.button:hover {
  background-image: linear-gradient(#048af7, #13b7fc);
}
section,
footer {
  margin-top: 100px;
}
/* Header Section */
#header-area {
  background-color: #ebf8ff;
}
.brand-area h1 {
  color: #575757;
  cursor: pointer;
}
.brand-area h1 span {
  background: -webkit-linear-gradient(#13b7fc, #048af7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-navbar ul li {
  display: inline-block;
  margin-left: 40px;
}
.header-navbar ul li a {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #575757;
}
.header-navbar ul li a:hover {
  background: -webkit-linear-gradient(#13b7fc, #048af7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Banner Section */
#banner-area {
  align-items: center;
}
.banner-content h1 {
  margin-bottom: 30px;
}
.banner-text-highlight {
  color: #0da7fa;
}
.banner-content p {
  color: #828282;
  margin-bottom: 50px;
  width: 90%;
}
.banner-content p span {
  font-weight: bold;
}
.banner-image img {
  width: 100%;
}
/* About Section */
#about-area {
  background-image: url(images/Frame\ 57.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
.about-image-area {
  text-align: center;
  padding-top: 50px;
  height: 480px;
}
.about-image-area img {
  width: auto;
  height: 100%;
}
.about-content-area h2 {
  margin-bottom: 30px;
}
.about-content-area p {
  margin-bottom: 70px;
}
/* Recipies Section */
.recipies-content {
  text-align: center;
}
.recipies-content h2 {
  margin-bottom: 25px;
}
.recipies-content p {
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
}
.recipies-card {
  width: 21%;
  min-height: 480px;
  padding: 1.5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 25px;
}
.recipies-card-image {
  width: 100%;
  height: 180px;
  margin-bottom: 30px;
}
.recipies-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.recipies-card-content h3 {
  margin-bottom: 10px;
}
.recipies-card-content p {
  line-height: 28px;
}
/* Counter Section */
.couter-main-area {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 50px 0;
}
#social-counter-area .couter-main-area div {
  width: 33.3%;
  text-align: center;
}
.contact-content {
  background-color: #ebf8ff;
  overflow: hidden;
  padding: 50px 0;
  border-radius: 25px;
}
/* Contact Section */
form {
  width: 80%;
  margin: 0 auto;
}
.contact-title {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.full-name,
.email-add {
  width: 50%;
  height: 50px;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  margin-bottom: 30px;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 0 20px 0 23px;
  font-size: 16px;
}
.message-area {
  width: 50%;
  margin: 0 auto;
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: #fff;
}
textarea {
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
  outline: none;
  border: navajowhite;
}
.submit-area {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
input.button {
  font-size: 18px;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
}
/* Footer Section */
#footer-area {
  text-align: center;
  background-color: #0b0d17;
  padding: 25px 0 75px 0;
}
.footer-logo-color {
  background: -webkit-linear-gradient(#13b7fc, #048af7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#footer-area h3 {
  margin-bottom: 30px;
}
#footer-area p {
  color: #fff;
}
